@import "reset.css";
@import "http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css";

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", Arial, sans-serif;
  background: #f9f9f9;
}


#container {
  width: 320px;
  background: #FFFFFF;
  margin: 0 auto;
}

#container .list-item {
  height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dddddd;
  cursor: pointer;
  padding-left: 10px;
}

#container .list-item:hover {
  background: #efefef;
}

#container .user-name {
  -webkit-font-smoothing: antialiased;
  margin-left: 15px;
}

#container .user-icon {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url("../i/default-img.png");
  background-size: 100%;
}

#container .details-view {
  background: #FFFFFF;
}

#container .details-view .header {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  background: url("../i/background-active.jpg");
}

#container .details-view .back {
  width: 30px;
  height: 30px;
  margin: 20px;
  background: url("../i/back-icon.png");
  background-size: 100%;
  border: 0;
  cursor: pointer;
}

li.people-title {
  padding-left: 8px;
  font-weight: bold;
  font-size: larger;
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid #dddddd;
}

#container .hidden {
  display: none;
}
